.cards-item {
  background-color: $white-color;
}

.cards-item__title {
  font-family: $secondary-font;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0;
  text-align: center;
  color: $primary-color;
  margin: 0;
}

.cards-item__description {
  font-family: $secondary-font;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0;
  margin-top: 18px;
  text-align: center;
}

.cards-item__price {
  position: relative;
  color: $accent-color;
  font-size: 48px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0;
  text-align: left;
  margin: 64px 0 19px 37px;
  z-index: 1;

  &::before {
    position: absolute;
    content: attr(data-price);
    font-size: 80px;
    opacity: 0.48;
    color: $shadow-color;
    z-index: -1;
    transform: translate(-15px, -25px);
  }

  &::after {
    position: absolute;
    content: "";
    mask-image: url("/__spritemap#rublik-icon");
    background-color: $primary-color;
    width: 24px;
    height: 33px;
    top: 50%;
    transform: translateY(-50%);
    right: 37px
  }
}

.cards-item__button {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 206px;
  min-height: 66px;
  text-decoration: none;
  border: 2px solid $primary-color;
  margin: 0;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0;
  text-transform: uppercase;
  color: $primary-color;
}

// Tablet Viewport
@media (min-width: $tablet-width) {
  .cards-item__title {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0;
  }

  .cards-item__description {
    font-family: $secondary-font;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    margin-top: 22px;
  }

  .cards-item__price {
    position: relative;
    color: $accent-color;
    font-size: 60px;
    letter-spacing: 0;
    text-align: left;
    margin: 82px 0 22px 42px;

    &::before {
      font-size: 100px;
      line-height: 150%;
      transform: translate(-18px, -62px);
    }
  
    &::after {
      width: 30px;
      height: 42px;
      top: 29px;
      transform: scale(1.25);
      right: 38px
    }  
  }

  .cards-item__button {
    max-width: 250px;
    min-height: 66px;
  }
}

// Desktop Viewport
@media (min-width: $desktop-width) {
  .cards-item__title {
    font-size: 26px;
    line-height: 26px;
    letter-spacing: 0;
  }

  .cards-item__description {
    margin-top: 19px;
  }

  .cards-item__price {
    position: relative;
    color: $accent-color;
    font-size: 60px;
    letter-spacing: 0;
    text-align: left;
    margin: 76px 0 17px 32px;

    &::before {
      transform: translate(-18px, -62px);
    }
  
    &::after {
      width: 30px;
      height: 42px;
      top: 29px;
      transform: scale(1.25);
      right: 28px
    }  
  }

}