.hero {
  background: $primary-gradient;
}

.hero__header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 16px 0;
  margin: 0;
}

.hero__contact {
  display: block;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0;
  text-align: left;
  text-decoration: none;
  color: $white-color;
  margin: 0;
}

.hero__content {
  display: grid;
  grid-template-columns: 113px 1fr;
  grid-template-rows: 1fr 1fr;
}

.hero__place {
  //display: inline-block;
  font-family: $primary-font;
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0;
  text-align: right;
  color: $white-color;
  margin: 0;
  padding-top: 48px;
}

.hero__title {
  font-family: $primary-font;
  font-size: 62px;
  font-weight: 800;
  line-height: 62px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: right;
  color: $white-color;
  margin: 0;
  padding-top: 13px;;
}

.hero__descriprtion-list {
  align-content: end;
  padding: 0;
  margin: 0;
  list-style-type: none;
  outline: green 1px solid;
}

.hero__descriprion-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-align: right;
  text-decoration: none;
  color: $white-color;
  margin: 0;
}

.hero__image {
  display: none;
}