.hero {
  background: $primary-gradient;
  min-height: 412px;
}

.hero__header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 16px 0;
  margin: 0;
}

.hero__contact {
  display: block;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0;
  text-align: left;
  text-decoration: none;
  color: $white-color;
  margin: 0;
  max-width: 150px;
  overflow: hidden;
}

.hero__content {
  display: grid;
  grid-template-columns: 113px 1fr;
  grid-template-rows: auto;
  row-gap: 47px;
  overflow: hidden;
}

.hero__place {
  font-family: $primary-font;
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.1px;
  text-align: right;
  color: $white-color;
  margin: 0;
  padding-top: 48px;
}

.hero__title-container {
  overflow: hidden;
}

.hero__title {
  font-family: $primary-font;
  font-size: 62px;
  font-weight: 800;
  line-height: 62px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: right;
  color: $white-color;
  margin: 0;
  margin-right: -1px;
  padding-top: 13px;
}

.hero__descriprtion-container {
  align-content: end;
  padding: 0;
  margin: 0;
  list-style-type: none;
  justify-content: end;
}

.hero__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-align: right;
  text-decoration: none;
  color: $white-color;
  margin: 0;
}

.hero__image-container {
  display: none;
  margin: 0;
  font-size: 0;
}

.hero__button {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  height: 59px;
  padding: 22px;
  background: transparent;
  border: 2px solid $white-color;
  color: $white-color;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0;
  overflow: hidden;
}

.hero__button:hover, .button-style:focus {
  background: $white-color;
  color: $accent-color;
}

@media (min-width: $tablet-width) {
  .hero__header {
    padding: 30px 0;  
  }

  .hero__contact {
    font-size: 24px;
    line-height: 24px;
    max-width: 165px;
  }
  
  .hero__content {
    max-height: 768px;
    grid-template-columns: 139px 215px 324px;
    grid-template-rows: 250px auto;
    grid-template-areas:
      "description title image"
      "description button image";
      gap: 0;
      padding-bottom: 98px;
  }

  .hero__descriprtion-container {
    grid-area: description;
    padding-right: 26px;
    align-content: center;
    overflow: hidden;
  }

  .hero__description {
    line-height: 22px;
  }
  

  .hero__place {
    padding: 30px 30px 0 0;
    font-size: 42px;
    line-height: 42px;
    letter-spacing: 0;
  }

  .hero__title {
    padding: 10px 30px 0 0;
    font-size: 72px;
    letter-spacing: 2px;
    line-height: 85px;
    margin-right: -2px;
  }
  
  .hero__image-container {
    display: block;
    grid-area: image;
  }

  .hero__button {
    grid-area: button;
    height: 56px;
    margin: 18px 30px 0 0;
    padding: 20px 10px;
    align-self: center;
    align-content: baseline;
  }
}