.juri {
  padding: 40px 0;
  background-color: $white-color;
}

.juri__title {
  max-width: 290px;
  font-family: $primary-font;
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0;
  text-align: center;
  color: $primary-color;
  margin: 0 auto;
}

.juri__swiper-container {
  width: 600px;
  height: 300px;
  outline: 1px solid red;
  position: relative;
}



// .juri__list {
//   max-width: 290px;
//   list-style-type: none;
//   margin: 0;
//   padding: 0;
//   display: grid;
//   grid-template-columns: 1fr 1fr;
//   gap: 25px;
// }

// .juri__item {
//   font-size: 0;
//   justify-items: center;
//   //border: blue 1px solid;
// }

// .juri__image {
//   outline: 1px solid red;
//   margin: 0 auto;
// }