.container {
  position: relative;
  max-width: $mobile-width;
  margin: 0 auto;
  padding: 0 15px;
}

// Tablet Viewport
@media (min-width: $tablet-width) {
  .container {
    padding: 0 45px;
    max-width: 768px;
  }
}

// Desktop Viewport
@media (min-width: $desktop-width) {
  .container {
    padding: 0 103px;
    max-width: $desktop-width;
  }
}
